{% extends "shell.html" %}

{% block content %}
<h2>{{ table }}</h2>

<table>
  <thead>
    <tr>
      {% for f in fields %}<th>{{ f.name }}</th>{% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for r in records %}
    <tr class="rec-edit" data-action="/browse/{{ layout_id }}/{{ r.id }}"
        data-open="/browse/{{ layout_id }}/{{ r.id }}/open"
        data-revert="/browse/{{ layout_id }}/{{ r.id }}/revert"
        data-view="table" data-rec="{{ loop.index }}">
      {% for c in r.cells %}
      <td><input class="cell-input" name="f{{ c.field_id }}" value="{{ c.value }}" autocomplete="off"></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block statusbar %}<span>{{ table }} · Table view</span>{% endblock %}
